<div class="container">
    <form (submit)="submitForm($event)" class="example-form" [formGroup]="addTaskForm" novalidate>
      <div class="row row-vcentring row-gcentring">

        <div class="col">
          <mat-form-field class="example-full-width">
            <input matInput #message maxlength="256" placeholder="Task" formControlName="task">
            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field>
            <mat-select placeholder="Period" formControlName="period">
              <mat-option *ngFor="let period of periods" [value]="period.value">
                {{ period.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col">
          <button mat-button color="primary"><i class="material-icons">add_circle_outline</i></button>
        </div>

      </div>
    </form>
</div>